<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and Time</title>
</head>
<style>
    body{
        text-align: center;
    }
    div{
        border: 2px solid black;
        width: 400px;
        margin:60px auto;
    }
    .time{
        width: 700px;
        height: 200px;
        font-size: 60px;
    }
</style>
<body>
    <div class="title">
        <h1>The current time and date</h1>
    </div>
    <div class="time">
        <p>{{time}}</p>
    </div>
</body>
</html>