<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authors</title>
</head>
<body>
    <h1>Authors</h1>
    <div>
        <h2>{{ author.first_name }} {{ author.last_name }} (ID: {{ author.id }})</h2>
        <p>Notes:{{ author.notes }}</p>
        <h3>Books:</h3>
        <ul>
            {% for book in author.books.all %}
                <li>{{ book.title }}</li>
            {% empty %}
                <li>No books yet.</li>
            {% endfor %}
        </ul>

        <form action="{% url 'display_author' author.id %}" method="post">
            {% csrf_token %}
            <select name="book_ids" class="form-select" aria-label="Default select example">
            <option value="" disabled selected>Select a book</option>
                {% for book in Book %}
                    <option value="{{ book.id }}">{{ book.title }}</option>
                {% endfor %}
            </select>
            <button type="submit">Add</button>
        </form>
        <hr>
    </div>
</body>
</html>
